<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis à jour : {{ lastUpdate | date: 'dd/MM/yyyy' }}</p>
  <ul class="list-group">
    <!--<app-appareil [appareilName]="appareilOne" appareilStatus="éteint"></app-appareil>
    <app-appareil appareilName="Télévision" [appareilStatus]="'éteint'"></app-appareil>
    <app-appareil appareilName="Ordinateur" [appareilStatus]="'éteint'"></app-appareil>-->
    <app-appareil *ngFor="let appareil of secondAppareillage let i = index"
                  [appareilIndex]="i"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"
                  [appareilId]="appareil.id"></app-appareil>
  </ul>
  <button class="btn btn-success"
          (click)="onAllumer()">
    Tout allumer"
  </button>
  <button class="btn btn-danger"
          (click)="onEteindre()">
    Tout éteindre"
  </button>
</div>
